<div class="container">
  <div class="form">
    <h1>Update your toy</h1>

    <div class="form-size">
      <%= render "form", thing: @toy %>
      <%= link_to "Cancel", toy_path(@toy), class: "btn btn-light"%>
    </div>
  </div>
</div>
