<div class="form">
  <div class="text-center">
    <h1>Create a new toy</h1>
  </div>

  <div class="form-size">
    <%= render "form", thing: @toy %>
    <%= link_to "Cancel", toys_path, class: "button btn btn-primary"%>
  </div>
</div>
