
<div class="container">
  <div class="form">

      <div class="form-size">
    <div class='align-btn'>
    <h1 class='my-4'>Rent your toy</h1>
        <%= render "form", thing: @toy %>
      </div>
    </div>
  </div>
</div>
