<div class="toy-container">
  <div class="toy-image">
     <%= cl_image_tag @toy.image_url, alt: "procuct.name.photo", class: "product-image"%>
  </div>
  <div class="toy-details">
    <h2><%= @toy.name %></h2>
    <div class="descripiton">
      <h3>descripiton</h3>
      <p><%= @toy.description %></p>
    </div>
    <div class="toy-reservation-details">
      <p class="price"><strong><%= @toy.price %>€</p>
      <div class="toy-datepicker">
        <p>Date Picker</p>
      <div>
      <button class="btn">Reserve</button>
      <div class="total-price">
        <p>Total</p>
        <p>Price'€/day'</p>
        <p>Total</p>
      </div>
    </div>
  </div>
</div>
