.dashboard-container {
padding: 10px 50px;
}

.my-reservation-box {
  padding: 20px;
  background-color: white;
  border: solid rgba(0, 0, 0, 0.133) 2px;
  border-radius: 20px;
}

.my-toys-box {
  padding: 20px;
  background-color: white;
  border: solid rgba(0, 0, 0, 0.133) 2px;
  border-radius: 20px;
}
