// Specific CSS for your home-page
.page-wrapper {
  background-color: #f7f7f73b;
}

.category-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  span {
    display: flex;
    gap: 50px;
    font-weight: 500;
  }
}

.home-card {
  display: flex;
  margin-bottom:20px;
  flex-direction: column;
  max-width: 250px;
  // transition: transform .2s;
  &:hover {
    // transform: scale(1.05)
  }

  .image-home-toy {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.041);
    margin: 10px 0px;
  }

  span {
    background-size: cover;
    height: 200px;
  }

  h3 {
    font-size: 20px;
    &:hover {
      color: $darkblue;
    }
  }

  p {
    font-size: 14px;
    margin: 0;
  }

}
