// Specific CSS for your home-page
.page-wrapper {
  background: url('stars-background.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.main-padding{
  padding:0px 10%;
}


.category-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  span {
    display: flex;
    gap: 50px;
    font-weight: 500;
  }
}

.home-username {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.home-card {
  display: flex;
  margin-bottom:20px;
  flex-direction: column;
  max-width: 250px;
  color: black;

  h3 {
    font-size: 20px;
  }

  &:hover {
    h3 {
      color: $ligthblue;
    }

    .image-overlay {
      background-size: cover;
    }

  }

  .image-home-toy {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.041);
    margin: 10px 0px;
  }

  span {
    background-size: cover;
    height: 200px;
  }


  p {
    font-size: 14px;
    margin: 0;
  }

}
