
.toy-card {
  width: 70%;
  margin: 30px auto;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
}
.toy-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 80px 0px 50px;
  max-width: 80%;
}

.map {
  width:90%;
  margin: auto;
}


.map-container {
  width: 100%;
  padding-bottom: 10px;
}

// .toy-details {
//   border: 1px solid black; /* Set the color and thickness of the border */
//   padding: 50px; /* Optional: Add padding to the content inside the div */
// }


.toy-image {

  img {
    max-width: 100%;
    border-radius: 20px;
  }
}

.toy-reservation-details {
  width: 300px;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.14);
  border: rgba(0, 0, 0, 0.235) solid 1px;

  .price {
    display: flex;
    flex-direction: row;
    font-size:25px;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;


    span {
      font-size: medium;
    }

    p {
      margin: 0px;
    }
  }
}

.price-tag {

  ::after {
    border-top: black solid 1px;
  }
}

.toy-details {
  background-color: white;
  padding: 50px;
  color:black;

  h2 {
    font-size: 30px;
    font-style: bold;
  }

  h3 {
    font-size: 20px;
  }
}

.toy-datepicker {
  color: white;
  padding:10px;
  color:black;
}


.total-price {
  display: flex;
  font-size: medium;
  justify-content: space-between;
  align-items: flex-end;

  span {
    font-size: small;
  }

  p {
    margin: 0px;
    font-size: large;
    font-weight: bold;
  }

}

.btn {
  background-color: $yellow;
  width: 100%;
  color: white;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  background-color: lightblue;
  color: black;
}
