.toy-card {
  width: 70%;
  margin: auto;
  margin-top: 3px;
}
.toy-container {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  padding: 0px 300px;
}

.map-container {
  width: 100%;
  padding-bottom: 10px;
}

// .toy-details {
//   border: 1px solid black; /* Set the color and thickness of the border */
//   padding: 50px; /* Optional: Add padding to the content inside the div */
// }

.toy-image {
  // max-width: 100%;
  height: auto;
  padding:50px;
  display:flex;
  justify-content: center;

  image {
  width: 100%;
  }

}

.toy-reservation-details {
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .price {
    font-weight: bold;
    font-size:25px;
    padding: 10px;
  }
}

.toy-details {
  background-color: white;
  padding: 50px;
  color:black;

  h2 {
    font-size: 30px;
    font-style: bold;
  }

  h3 {
    font-size: 20px;
  }
}

.toy-datepicker {
  color: white;
  padding:10px;
  color:black;
}


.total-price {
  display: flex;
  border-top: 1px solid lightgrey;

  p {
  padding: 10px;
  }

}

.btn {
  background-color:red;
  width: 100%;
  color: white;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  background-color: lightblue;
  color: black;
}