<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1588591795084-1770cb3be374?q=80&w=2070&auto=format&f[…]3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1 class="">Welcome to <strong>ToyBoxShare</strong>!</h1>
    <p class="text-white">Play Beyond Boundaries: Renting Smiles for Kids and the Young at Heart!</p>
    <a class="btn btn-flat text-white" href="#">Rent now</a>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1633285505120-5144276a0757?q=80&w=2070&auto=format&f[…]3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
    <%= "toy 1" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.lego.com/cdn/cs/set/assets/bltb241e5981be851cb/40648.png?fit=bounds&format=png&width=1500&height=1500&dpr=1)">
    <%= "toy 2" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.lego.com/cdn/cs/set/assets/blt742e8599eb5e8931/40649.png?fit=bounds&format=png&width=1500&height=1500&dpr=1)">
    <%= "toy 3" %>
  </div>
</div>