<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1588591795084-1770cb3be374?q=80&w=2070&auto=format&f[…]3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
</div>

  <div class="container mt-5">
    <h1>Welcome</h1>
    <p>Play Beyond Boundaries: Renting Smiles for Kids and the Young at Heart!</p>

    <div class="category-filter">
      <p>Choose your category</p>
      <span>
        <p class="link_to">0-6 MONTHS</p>
        <p class="link_to">6-12 MONTHS</p>
        <p class="link_to">1-3 YEARS</p>
        <p class="link_to">3-6 YEARS</p>
        <p class="link_to">6-12 YEARS</p>
        <p class="link_to">12+ YEARS</p>
      </span>
    </div>

    <p>0-6 MONTHS</p>
    <div class="cards">
      <div class="home-card">
        <div class="home-username"><i class="fa-solid fa-circle-user"></i> username</div>
        <div class="image-home-toy"></div>
        <h4>Uno game</h4>
        <p>9€ per day</p>
        <p>0 months</p>
        <p>Amsterdam 1084VV today at 14:55</p>
      </div>
    </div>
  </div>
