.banner {
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.23), rgba(0, 0, 0, 0.194)), url('banner-image.png');
  background-size: cover;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  font-family: $headers-font;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
