.cards-container {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 6px 1px;
  border-radius: 2px;
  transition: transform .2s;
  &:hover {
    transform: scale(1.05)
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    padding-bottom: 5px;
    margin: 0;
  }

  button {
    background-color: $darkblue;
    border-radius: 5px;
    color: $white;
    border: none;
    padding: 5px 8px;
    margin-top: 5px;
  }
}

.container-image {
  width: 100%;
  height: 200px;
  overflow-y: hidden;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

  a {
    text-decoration: none;
  }

  img {
    margin-top: -10px;
    width: 100%;
    object-fit: cover;
    background-color: rgb(180, 180, 255);
    margin-bottom: 10px;
  }
}
.card-category{
  background-size: cover;
  padding: 200px;
  margin:10px;
}

.card-details {
  margin-top: 10px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
