.footer {
  display: flex;
  justify-content: center;
  color: $darkblue;
  // position: absolute;
  // bottom: 0;
  margin-top: auto;
  width: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,0) 10%, rgba(255, 255, 255, 0.805) 50%, rgba(0,0,0,0) 90%);

  span {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    border-top: solid rgba(0, 0, 0, 0.151) 2px;
  }

  .fa-heart {
    color: red;
  }
}


.fas {
  text-decoration: none;
}

// Code for footer to stay sticky"

* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }

 html,
 body {
  height: 100%;
  position: relative;
 }

 .main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
 }
