.login-container {
  max-width: 70%;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.088) 6px 9px 21px;
  padding: 80px

}

.button-sign-in {
  display: flex;
  justify-content: center;

  .btn {
    background-color: $red;
    width: 100%;
    border-radius: 8px;

    &:hover {
      background-color: #c52331b9;
      color: white;
    }
  }


}

.login-flex {
  display: flex;
  justify-content: center;
}
