.navbar {
  justify-content: space-between;
  background:rgb(5, 5, 5)
}

// .navbar .navbar-collapse {
//   flex-grow: 0;
// }

#logo {
  height: 100;
  width: auto;
}

.nav-item {
  display: inline-block;
  color: white;
}
