.navbar {
  justify-content: space-between;
  background:rgb(5, 5, 5)
}

// .navbar .navbar-collapse {
//   flex-grow: 0;
// }

#logo {
  height: 100;
  width: auto;
}
.navbar-nav {
  display: inline;
  justify-content: space-between;
}
.nav-link{
  text-decoration: none;
  display: inline;
  margin-left: 20px;
}

.text-gray{
  color:rgb(185, 185, 185);
}

.text-gray:hover {
  color:white
}

.text-white {
  color:white;
}
.text-white:hover {
  text-decoration: underline;
}

.checkin-nav {
  text-decoration: none;
  display: inline;
  margin-left: 20px;
}
