<div class="cards">
  <img src="#" alt="product.name.photo">
  <div class="card-details">
    <h3>Toy name</h3>
    <p>Toy location</p>
    <p>Toy price</p>
    <button>Reserve</button>
  </div>
</div>
