<div class="footer">
  <div class="footer text-white">
    This project is made with <i class="fas fa-heart"></i> at Le Wagon.
  </div>
</div>
  <div class="text-center m-5">
    <nav>
      <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </div>