<footer class="footer">
    <span>
      <p>This project is made with <i class="fas fa-heart"></i> at Le Wagon.</p>
      <p>© 2023 ToyBoxShare B.V · Privacy · Terms · Company details</p>
    </span>
</footer>
