<div class="navbar">
    <div class="container-fluid">
        <%= image_tag "ToyBoxShare-white.png", id:"logo"%>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Signup"%>
          </li>
          <li class="nav-item">
            <%= link_to "Login"%>
          </li>
        </ul>
    </div>
</div>

